@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .overlay {
    @apply after:absolute   after:top-0 after:left-0 after:w-full after:h-full after:bg-black/90
  }
}
body {

font-family: sans-serif;



/* font-family: 'Vazirmatn', sans-serif; */

  /* font-family: 'Prompt', sans-serif; */
  /* font-family: 'Inter', sans-serif; */
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: "popins", sans-serif; */
  /* font-family: "Tajawal", sans-serif; */

}

input {


}

.subheading {


}
input {

}
.heading {
  font-family: 'Ubuntu', sans-serif;


}
.call{

  font-family: 'Lato', sans-serif;






}
.disclaimer {

font-family: sans-serif;

}
.rgba {
  background-color: rgba(255, 254, 254, 0.9);
}
/* fonts  */
/*font-family: 'Anton', sans-serif;
font-family: 'Anybody', cursive;
font-family: 'Changa', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Grape Nuts', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Lobster', cursive;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Prompt', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik Bubbles', cursive;
font-family: 'Send Flowers', cursive;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Tajawal', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Vazirmatn', sans-serif;*/